.card-wrap {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.preview-image-wrap {
  position: relative;
  overflow: hidden;
}
.icon-star {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
}
.preview-image {
  width: 100%;
  transition: transform 0.3s ease-in-out;
  aspect-ratio: 1.7;
  object-fit: cover;
}
.image-zoom-in {
  transform: scale(130%);
}
li:hover .link-information-wrap {
  background-color: var(--main-background-color);
}
.link-information-wrap {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  position: relative;
  height: 13.5rem;
  padding: 1.5rem 2rem;
}
.icon-kebab {
  position: absolute;
  top: 15px;
  right: 20px;
}
.link-created-ago {
  font-size: 1.3rem;
  color: #666;
}
.link-description {
  display: -webkit-box;
  height: 5rem;
  overflow: hidden;
  font-size: 1.6rem;
  line-height: 2.4rem;
  word-break: break-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.link-created-time {
  display: inline-block;
  font-size: 1.4rem;
  color: #333;
}
